body {
    background: #B4E8F6;
    margin: 0px;
    text-align: center;
}
p {
    margin: 0px;
}
h1 {
    font-size: 60px;
    line-height: 90px;    
}
h2 {
    font-size: 40px;
    line-height: 60px;
}
h3 {
    margin: 3px;
}


.header {
    background: #7C3A78;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: lavender;
}


 /* Sidebar */
.sidebar {
    width: 260px;
    height: calc(100vh - 60px);
    left: 0px;
    top: 60px;
    position: fixed;
    overflow-y: auto;
}
.apt-card, .room, .room-active {
    background: #7A3F75;
    color: lavender;
    margin: 15px;
    border: 1px solid #7A3F75;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.apt-card {
    width: 208px;
    min-height: 150px;
    padding: 10px;
    border-radius: 10px;
}
.card-img {
    max-width: 170px;
    border: 1px solid black;
}
.rooms-card {
    background: #bb74d6;
    color: 	#7A3F75;
    margin: 10px 25px 10px 50px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: -25px;
    z-index: 0;
    display: none;
}
.floor {
    margin: 10px 0px;
    text-align: left;
    font-weight: bold;
}
.room, .room-active {
    margin: 7px 0px 7px 30px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.apt-card:hover, .room:hover {
    background: lavender;
    color: #7A3F75;
}
.room-active {
    background: #d8afe7;
    color: #7A3F75;
}
.apt-card, .content-pane, .rooms-card, .room, .room-active, .cancel, .modal-button {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.apt-card:active {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 15px 5px 5px 15px;
}
.room:active, .room-active {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 10px 0px 0px 10px;
}
.modal-button:active, .cancel:active {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 10px 2px 0px 12px;
}

 /* Content Pane */
#content, #splash {
    width: calc(100vw - 280px);
    height: calc(100vh - 80px);
    left: 270px;
    top: 70px;
    position: fixed;
    display: none;
}
#splash {
    display: block;
}
.content-tab, .content-tab-active {
    background: #CA90E4;
    color: #873877;
    margin-right: -5px;
    width: 120px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    border: 5px solid #873877;
    border-radius: 20px 20px 0px 0px;
    float: left;
    cursor: pointer;
    position: relative;
    left: 30px;
}
.content-tab-active {
    background: lavender;
    color: #873877;
    height: 35px;
    border-bottom: 0px;
}
.content-tab:hover {
    background: #873877;
    color: white;
}
.content-spacer {
    width: 1px;
    height: 35px;
}
.content-pane {
    background: lavender;
    height: calc(100% - 65px);
    border: 5px solid #7A3F75;
    border-radius: 20px;
    padding: 10px;
}
.pane {
    height: 100%;
    line-height: 40px;
    overflow-y: auto;
}
.button-box {
    margin: auto;
    width: max-content;
    display: inline-flex;
}



 /* Modal */
#modal-window {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 99;
    display: none;
}
.modal {
    background: #d8afe7;
    margin: 10% auto;
    width: max-content;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    font-size: 0px;
    display: none;
}
.modal-header {
    background: #875282;
    color: lavender;
    height: 60px;
    padding: 0px 20px;
    font-size: 40px;
    line-height: 60px;
}
.modal-body {
    margin: 10px auto;
    width: max-content;
    max-width: 600px;
    padding: 0px 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.modal-input-box-1 {
    width: 140px;
    display: inline-block;
}
.modal-input-box-2 {
    width: 275px;
    display: inline-block;
}
.modal-footer {
    line-height: 0px;
    padding: 10px 20px;
    display: inline-flex;
}
form {
    text-align: left;
}
input, textarea {
    background: lavender;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    display: block;
}
.hidden {
    display: none;
}
.input-long {
    width: 265px;
}
.disabled-input-long {
    background: lightgrey;
    width: 265px;
}
.disabled-input {
    background: lightgrey;
    width: 120px;
}
textarea {
    width: 555px;
    height: 90px;
    resize: none;
}
.modal-button, .cancel {
    background: #7A3F75;
    color: lavender;
    margin: 5px;
    padding: 5px 7px;
    width: 140px;
    height: 25px;
    border: #7A3F75 solid 1px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    cursor: pointer;
}
#modal-comment-delete {
    display: none;
}
.modal-button:hover, .cancel:hover {
    background: lavender;
    color: #7A3F75;
    border: #7A3F75 solid 1px;
}
.apt-img{
    width: 70%;  
    /* border: 1px solid black; */
}
table{
    width: 90%;
    margin: auto;
    text-align: left;
    border: 1px solid black
}
.spash-img{
    width: 80%;
    padding: 25px;
    opacity: 0.8;
}
.unit-number{
  font-size: 100px;
  padding: 1px; 
}
tr {
    cursor: pointer;
    line-height: 16px;
}
tr:nth-child(odd) {
    background: #c4adc4;
}
tr:nth-child(even) {
    background: #b09cb0;
}
tr:hover {
    background: #583458;
    color: white;
}
tr:first-child {
    background: #c4adc4;
    color: black;
}
td, th {
    padding: 10px;
}
.td-small {
    width: 80px;
    text-align: center;
}
